/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #f4f8fb; /* readable dark text on light background */
  background-color: #f4f8fb; /* soft page background */
}

/* Navbar */
.navbar {
  background-color: #2e9df7;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
}

.logo span {
  font-weight: bold;
  color: #333;
}

/* Hero Section */
.hero {
  position: relative;
  height: 90vh;
  background-image: url("img/charity_water_Tanzania_TaraShupePhotography_0008 (1).jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 167, 236, 0.352) ;
 
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.cta-btn {
  background-color: #ffcc00;
  color: #333;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #ffdb4d;
}

.subtext {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #f0f0f0;
}
